---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - PoliSync">
  <div class="container">
    <h1 style="text-align: center;">About Us</h1>
    <div style="max-width: 700px; margin: 2rem auto;">
      <h2>Our Mission</h2>
      <p style="margin: 1rem 0">
        Managing insurance contracts from different providers can be a hassle—policies are scattered, deadlines are missed, and submitting claims is often unclear and inefficient. PoliSync is here to change that. We are on a mission to simplify how you manage insurance policies across providers. By centralizing and optimizing your policy information, we make it readily available to give you better oversight and control—anytime, anywhere.
      </p>

      <h2 style="margin-top: 3rem">Our Team</h2>
      <p style="margin: 1rem 0">
        Coming soon!
      </p>
    </div>
  </div>
</Layout>