---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="PoliSync"
  description="We're building tools to help you better organize & make smarter insurance decisions. Join us on this journey."
>
  <div class="container hero">
    <h1>Welcome to PoliSync</h1>
    <p>
    Easily organize and access all your insurance policies from different providers in one place.
    </p>
    <a href="https://polisync.app" class="cta" target="_blank">Try the app — it’s free!</a>

  </div>
</Layout>